<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <h:outputStylesheet library="css" name="default.css"/>
        <title><ui:insert name="title">Dependent Facelet</ui:insert></title>
    </h:head>

    <ui:composition template="/examplexhtml.xhtml">
        <ui:define name="title">Dependent Facelet</ui:define>
        <ui:define name="head">Dependent Facelet</ui:define>
        <ui:define name="content">
            <h:form id="content">
                <p><h:outputLabel value="Enter your name: " for = "name"/>
                    <h:inputText id="name" value="#{print.name}"/></p>
                <p><h:commandButton value="Question"
                                    action="#{print.setWelcome}"/></p>                                    
                <p><h:outputText value="#{print.welcome}"/> </p>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
